<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Personal Money Tracker</title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <nav>
          <a href="/transactions"><h2 style="text-align:center;font-family:verdana;">List of Transactions</h2></a>
    </nav>
    <br/>
    <%= yield %>
  </body>
</html>
