<h1>All Merchants</h1>
<h4><a href="/merchants/new"> Add New Merchant</a></h4>

<hr/>
<% @merchants.each do |merchant| %>
<ul><li><%= Merchant.find_by_id(merchant.id).store_name %>
</br>
<a href="/merchants/<%= merchant.id %>/delete"> Delete</a>
<a href="/merchants/<%= merchant.id %>/edit"> Eidit Merchant</a>
</li>
</ul>
<% end %>
