
<h2>New Merchant</h2>

<form action="/merchants" method="post">

  <label for="store_name">Merchant Store Name: </label>
  <input id = "store_name" type="text" name="store_name" required>
<br/>
<br/>
  <input type="submit" value="save new merchant store">

</form>
