
<h2>New Transaction</h2>

<form action="/transactions" method="post">

  <label for="amount">Amount: </label>
  <input id = "amount" type="number" placeholder=" Put in number" name="amount" required>
<br/>
<br/>

<label for="tags">Transaction Tag: </label>
<select id = "tags" name="tag_id">
  <% @tags.each do |tag| %>
   <option value= <%="#{tag.id}"%>><%=tag.type%></option>
  <% end %>
</select>
<br/>
<br/>

<label for="merchants">Merchant: </label>
<select id = "merchants" name="merchant_id">
  <% @merchants.each do |merchant| %>
   <option value= <%="#{merchant.id}"%>><%=merchant.store_name%></option>
  <% end %>
</select>
<br>
<br>

  <input type="submit" value="save transaction">

</form>

<br>
