<h2>New Tag</h2>

<form action="/tags" method="post">

  <label for="type">Tag Type: </label>
  <input id = "type" type="text" placeholder=" Put in type" name="type" required>
<br/>
<br/>
  <input type="submit" value="save new tag type">

</form>
