<form  action="/tags/<%= @tag.id%>" method="post">

  <label for="type">Tag Type: </label>
  <input id= "type" type="text" name="type" value="<%= @tag.type%>">
  <br/>
  <br/>
  <input type="submit" value="Confirm Change">

</form>
